.account-page.account-page-edit
  = form_for(current_user) do |f|
    .account-page__info
      .account-page__info__header
        %h5 アカウントの編集
      .account-page__info__user-form
        .field
          .field-label
            = f.label :name, "ニックネーム"
          = f.text_field :name, autofocus: true, size: 40
        .field
          .field-label
            = f.label :email
          = f.email_field :email, size: 40
        .field
          .field-label
            = f.label :password
            %i (英数字8文字以上)
          = f.password_field :password, autocomplete: "off", size: 40
        .field
          .field-label
            = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "off", size: 40
        .field
          = f.submit "Update", class: 'create-action-btn'
    .account-page__info.account-page__info-edit
      .account-page__info__user-form
        .files-edit
          .icon_box#icon-box
            - if current_user.persisted? && current_user.image?
              = image_tag current_user.image
            - else
              = image_tag 'no_avatar.png'
          = f.label :image, class: 'icon_box'
        = f.file_field :image, id: "user_image"
        .field
          .field-label
            = f.label :prefecture_id, "都道府県"
          = f.select :prefecture_id, Prefecture.all.map{|pf| [pf.name, pf.id]}, include_blank: :true
        .field
          .field-label
            = f.label :city_id, "市区町村"
          = f.select :city_id, City.all.map{|ci| [ci.name, ci.id]}, include_blank: :true
        .field
          .field-label
            = f.label :text, "自己紹介文(200字以内)"
          = f.text_area :text, autofocus: true, size: "50*40"
.link
  = link_to "LogOut", destroy_user_session_path, method: :delete, class: 'move-btn'
  = link_to "TopPage", root_path, class: 'move-btn'