.user-show-head
  .user-icon-box
    = image_tag @user.image
  .user-name-adres
    .user-name
      = @user.name
    .user-adres
      .user-adres__pref
        - unless @user.pref == nil 
          = @user.pref.name
      .user-adres__city
        - unless @user.city == nil 
          = @user.city.name
  .user-introduct
    = @user.text
  .user-follow
    - unless current_user == @user
      - if current_user.following?(@user_id)
        = form_for(current_user.relationships.find_by(follow_id: @user_id), html: { method: :delete }) do |f|
          = f.hidden_field :follow_id, value: @user_id
          = f.submit 'フォロー中', class: 'follow-btn', id: 'follow-btn-delete'
      - else
        = form_for(current_user.relationships.build) do |f|
          = f.hidden_field :follow_id, value: @user_id
          = f.submit 'フォローする', class: 'follow-btn'
  .user-goods
    総GOOD数 
    = @user.good_count
.user-show-body
  = render "shared/menu-bar"
  .user-show-posts
    - @user.posts.each do |post|
      = link_to post_path(post) do
        .post
          .post__main
            .post__main__title
              = post.text
            .post__main__image
              = image_tag post.image.url
            .post__main__nfo
              .post__main__info__day
                = post.created_at.strftime("%Y年%m月%d日 %H時%M分")
            .post__main__details
              .post__main__details__adress
                - if post.pref_id?
                  = link_to do
                    .post__main__details__adress__pref-city
                      = post.pref.name
                - if post.city_id?
                  = link_to do
                    .post__main__details__adress__pref-city
                      = post.city.name
            -# .post__details__tag
            -#   = link_to do
            -#     タグ
          .post__action
            .good-number
              -# - if post.user == current_user || post.good?(current_user)
              -#   = post.goods.length
              -# - else
              = post.goods.length
              good!
            .post__action__good-btn
              - unless current_user == post.user
                - if post.good?(current_user)
                  = form_for(post.goods.find_by(user_id: current_user.id), method: :delete) do |f|
                    = f.submit 'Good_delete', class: 'good-btn', id: 'good-btn-delete'
                - else
                  = form_for(post.goods.build) do |f|
                    = f.hidden_field :post_id, value: post.id
                    = f.submit 'Good', class: 'good-btn'
            .post__action__comment-btn
              = link_to new_comment_path(post_id: post.id) do
                -# %i.comment-btn.far.fa-comment-dots
                .good-btn
                  Comment
  .user-show-dm
    .user-show-dm__messages
      - @messages.each do |message|
        - if message.from == current_user
          .user-show-dm__messages__right
            .user-show-dm__messages__message
              = message.text
        - else
          .user-show-dm__messages__left
            .user-show-dm__messages__message
              = message.text
    - unless @user == current_user
      .user-show-dm__form
        .user-show-dm__form__box
          = form_for [@message] do |f|
            = f.text_field :text
            = f.hidden_field :to_id, value: @user_id
            = f.hidden_field :from_id, value: current_user.id
            = f.hidden_field :room_id, value: @room_id
            = f.submit 'Send'


