.main-posts
  - @posts.each do |post|
    = link_to post_path(post) do
      .post
        .post__title
          = post.text
        .post__image
          = image_tag post.image.url
        .post__info
          = link_to do
            .post__info__user
              = render "shared/usericon"
          .post__info__day
            = post.created_at.strftime("%Y年%m月%d日 %H時%M分")
        .post__details
          .post__details__tag
            = link_to do
              タグ
          .post__details__adress
            = link_to do
              住所
        .post__action
          .post__action__good-btn
          
            - unless current_user == post.user
              - if post.good?(current_user)
                = form_for(post.goods.find_by(user_id: current_user.id), method: :delete) do |f|
                  = f.button 'Good_delete'
              - else
                = form_for(post.goods.build) do |f|
                  = f.hidden_field :post_id, value: post.id
                  = f.button 'Good'
          .post__action__comment-btn
            = link_to new_comment_path(post_id: post.id) do
              %i.far.fa-comment-dots