.header
  = link_to root_path do
    .header__title
      FotoShock
.wrapper
  = render "shared/menu-bar"
  = render "shared/posts"
  .right-bar
    .ranking
      総good獲得数Ranking
      %ol.cp_clist
        - @ranking_users.each do |user|
          %li
            = link_to user_path(user, user: user) do
              .rank-box
                .rank-box__icon
                  = image_tag user.image
                .rank-box__name
                  = user.name.truncate(7, separator: '.')