.account-page
  .account-page__introduct
    = link_to root_path do
      .account-page__introduct__title
        FotoShock
    .account-page__introduct__sentence
  = form_for [@post] do |f|
    .post-form
      .post-field
        .post-field-label
          = f.label :text, "Title 6文字以下"
        = f.text_field :text, size: 12
      .post-field
        .post-field-image
          .image-box
            = image_tag 'no_avatar.png'
          = f.label :image, class: 'image-box'
        = f.file_field :image
      .post-field
        .post-field-label
          = f.label :pref_id, "都道府県(任意)"
        = f.select :pref_id, Pref.all.map{|pf| [pf.name, pf.id]}, include_blank: :true
      .post-field
        .post-field-label
          = f.label :city_id, "市区町村(任意)"
        = f.select :city_id, City.all.map{|ci| [ci.name, ci.id]}, include_blank: :true
      = f.submit '投稿', class: 'cp_button03'